{{#extends 'base'}}

{{#block 'title'}}Edit Movie{{/block}}

{{#block 'content'}}
<form method="POST">
    <div>
        <label>Title:</label>
        <input type="text" class="form-control" name="title" value="{{movie.title}}">
    </div>
    <div>
        <label>Plot:</label>
        <textarea class="form-control" name="plot" cols="30" rows="10">{{movie.plot}}</textarea>
    </div>
    <div>
        <input type="submit" class="btn btn-primary mt-3" value="Update">
    </div>
</form>
{{/block}}

{{/extends}}