{{#extends 'base'}}
{{#block 'content'}}
<form method="POST">
    <h1>Fruits</h1>
    <div>
        <input type="checkbox" name="items" value="durian" /><label>Durian<label>
        <input type="checkbox" name="items" value="apple" /><label>Apple<label>
        <input type="checkbox" name="items" value="orange" /><label>Orange<label>
        <input type="checkbox" name="items" value="banana" /><label>Banana<label>
    </div>
    <div>
        <input type="submit" value="Add Fruits" class="btn btn-primary mt-3" />
    </div>
</form>
{{/block}}
{{/extends}}